<%- include('partials/header.ejs') %> 


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>View page</h1>

<% if (locals.blogs_content && blogs_content.length > 0) { %>
    <% blogs_content.forEach((element, index) => { %>
        <div class="blog-container">
            <h1>Blog <%= index + 1 %></h1>
            <p><%= element %></p>

            <form action="/blog/<%= index%>" method="GET">
                <button type="submit" class="btn btn-primary">View this blog</button>
            </form>

            <form action="/blog/<%= index %>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger">Delete Blog</button>
            </form>

            <form action="/" method="GET">
                <button type="submit" class="btn btn-secondary">Home Page</button>
            </form>
        </div>
        <hr>
    <% }); %>
<% } else { %>
    <p>No blogs available to display.</p>
<% } %>
</body>
</html>